@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Space+Grotesk:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
}

a {
  text-decoration: none !important;
}

h1 {
  font-family: "Righteous", sans-serif;
  font-size: 90px !important;
}

h2 {
  font-size: 70px !important;
}

h3 {
  font-size: 45px !important;
}

li {
  list-style-type: none !important;
}

p {
  font-family: "Space Grotesk", sans-serif;
}

body {
  background: black !important;
  max-width: 1800px;
  position: relative;
  margin-left: auto !important;
  margin-right: auto !important;
}

.background-wrapper {
  background-image: url("../assets/bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
}

main {
  color: white;
  min-height: 100vh;
  background-position-y: -100px;
  overflow: visible;
}

nav {
  background: transparent;
  padding-top: 30px !important;
}

.left-part {
  margin-top: 30px;
  color: white;
}
.left-part h1 {
  line-height: 90px;
}
.left-part p {
  font-size: 22px;
  margin-top: 30px;
}
.left-part .btn-default {
  line-height: 30px;
}

.section-first-screen {
  padding-top: 60px;
}

.navbar-nav {
  border: 2px solid #2d2c30;
  border-radius: 100px;
  padding: 8px;
  padding-left: 8px !important;
}

.navbar-nav li {
  width: 100px;
  text-align: center;
}

.nav-item .nav-link {
  color: white;
  transition: 0.2s ease-in;
  border-radius: 100px;
  backdrop-filter: blur(3px);
}
.nav-item .active, .nav-item .nav-link:hover {
  background: rgba(45, 44, 48, 0.4862745098) !important;
  border-radius: 100px;
  color: white;
}
.nav-item .active {
  backdrop-filter: blur(3px);
}

.navbar-nav li {
  margin-left: 10px;
}

.navbar-nav li:first-child {
  margin-left: 0px !important;
}

.btn-default {
  border-radius: 100px;
  width: auto;
  padding: 10px 30px;
  border: none;
  height: 50px;
  background: rgba(45, 44, 48, 0.4862745098);
  color: white;
  transition: 0.2s;
  line-height: 30px;
}

.btn-default:hover {
  color: black;
  background: linear-gradient(214deg, rgb(35, 54, 196) 0%, rgb(31, 127, 215) 21%, rgb(5, 228, 207) 100%);
}

.btn-sign {
  height: 50px;
  width: 50px;
  background: rgba(45, 44, 48, 0.4862745098);
  backdrop-filter: blur(3px);
  border-radius: 100px;
  margin-left: 5px;
  font-size: 22px;
}
.btn-sign span {
  position: relative;
  color: white;
  top: 11px;
  left: 12px;
}

.main-links {
  margin-left: 6px;
}

.d-flex button {
  margin-left: 6px;
}

.inline-elements {
  display: flex;
}

.main-data-container {
  margin-top: 50px;
}

.btn-updated, .btn-sign-updated {
  background: rgb(35, 54, 196);
  background: linear-gradient(214deg, rgb(35, 54, 196) 0%, rgb(31, 127, 215) 21%, rgb(5, 228, 207) 100%);
  transition: 0.2s;
}

.btn-updated:hover {
  background: rgba(45, 44, 48, 0.4862745098);
  color: white;
}

.blockchains-icons {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.blockchains-icons img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-left: 10px;
}

.section-second-screen {
  margin-top: 150px;
  margin-bottom: 130px;
}

.advantages {
  width: 100%;
  border-radius: 20px;
  background: rgba(45, 44, 48, 0.2);
  backdrop-filter: blur(5px);
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.advantage-item {
  padding: 40px 0 20px 0;
  text-align: center;
}

.break-line {
  height: 189px;
  width: 2px;
  background: white;
  opacity: 0.1;
}

.adv-desc {
  font-weight: bold;
}

.addition-features-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 150px;
}
.addition-features-cards > :first-child {
  background: rgba(3, 94, 136, 0.137254902);
}

.addition-features-card {
  padding: 30px 30px;
  background: rgba(45, 44, 48, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
}
.addition-features-card .icon {
  border-radius: 5px;
  border: 1px solid white;
  font-size: 20px;
  width: 50px;
  padding: 10px 0;
  text-align: center;
}
.addition-features-card .btn-default {
  width: 100%;
  text-align: center;
}
.addition-features-card .btn-sign {
  width: 62px;
}
.addition-features-card .btn-sign span {
  left: 14px;
}

.addition-features-card-name {
  margin: 20px 0px;
}

.addition-features-card-desc {
  margin-bottom: 30px;
  height: 120px;
}

.arp-btn-right {
  display: flex;
  align-self: center;
  justify-content: end;
}

.apr-item {
  width: 320px;
  margin: 20px;
  background: rgba(45, 44, 48, 0.2);
  backdrop-filter: blur(5px);
  min-height: 200px;
  border-radius: 20px;
  overflow: hidden;
}

.apr-items {
  margin: 40px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-fourth-screen .btn-sign span {
  left: 14px;
}

.arp-item-top {
  font-size: 22px;
  display: flex;
  padding: 20px 5px;
  justify-content: space-around;
  width: 100%;
}

.arp-item-bottom {
  font-size: 22px;
  display: flex;
  align-items: end;
  padding: 20px 5px;
  justify-content: space-around;
  width: 100%;
}
.arp-item-bottom img {
  width: 100px;
  height: auto;
  transform: scale(1.5);
  position: relative;
  left: 20px;
  top: 30px;
}

.section-fifth-screen {
  margin: 100px 0px;
}
.section-fifth-screen p {
  font-size: 22px;
  margin-top: 20px;
}

.ord-header {
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.trade-platform-wrapper {
  width: 100%;
  padding: 30px;
  background: rgba(45, 44, 48, 0.4862745098);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  margin-top: 50px;
}

.trade-platform {
  width: 100%;
  border-radius: 20px;
  transition: 0.2s;
}

.trade-platform:hover {
  transform: scale(1.04, 1.055);
}

@keyframes move {
  from {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.section-sixth-screen {
  overflow: hidden;
}

.partners-header {
  text-align: center;
}

.partners-carousel {
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: visible;
  white-space: nowrap;
  animation: move 40s linear infinite;
}

.partners-item {
  display: inline-flex;
  background: rgba(45, 44, 48, 0.4862745098);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  margin: 0px 20px;
  width: 250px;
  height: 80px;
}

.partners-item-img {
  position: relative;
  width: auto;
  top: 50%;
  height: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-seventh-screen {
  margin: 100px 0 100px 0;
}
.section-seventh-screen .btn-sign span {
  left: 13px;
}
.section-seventh-screen .row .col-lg-6:last-child {
  padding: 10px 0px;
}

.socials-link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.social {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgba(45, 44, 48, 0.4862745098);
  backdrop-filter: blur(3px);
  border-radius: 10px;
  width: 280px;
  margin: 10px;
  height: auto;
}
.social .icon {
  border-radius: 5px;
  border: 1px solid white;
  font-size: 20px;
  width: 50px;
  padding: 10px 0;
  text-align: center;
}

.social-body {
  height: 100%;
}

.contact-form {
  height: 100%;
  width: 100%;
  padding: 40px;
  background: rgba(45, 44, 48, 0.4862745098);
  backdrop-filter: blur(3px);
  border-radius: 10px;
}

.navbar-toggler {
  border: 1px solid white !important;
  color: white;
  width: 40px;
  height: 40px;
  position: relative;
}
.navbar-toggler span {
  position: absolute;
  top: 8px;
  left: 4px;
}

.contact-form form *:not(.inline-elements) > * {
  display: block;
}
.contact-form form label {
  margin: 30px 0px 10px 0px;
}
.contact-form form input {
  padding: 10px;
  width: 100%;
  height: 50px;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  color: white;
}
.contact-form form input:focus, .contact-form form input:focus-visible {
  border-bottom: 1px solid white;
  outline: none !important;
}
.contact-form form textarea {
  display: block;
  height: 100px !important;
  width: 100%;
  resize: none;
  border-radius: 10px;
  background: rgba(45, 44, 48, 0.8156862745);
  border: none;
  padding: 10px;
  color: white;
}
.contact-form form .inline-elements {
  margin-top: 50px;
}
.contact-form form .btn-default {
  width: 100%;
}
.contact-form form .btn-sign {
  width: 55px;
}

footer {
  margin-top: 150px;
  margin-bottom: 50px;
  background: rgba(45, 44, 48, 0.4862745098);
  backdrop-filter: blur(3px);
  padding: 40px !important;
  border-radius: 20px;
}
footer a {
  color: #aeaeae;
}

.footer-about p {
  color: white;
}

.footer-links-header {
  color: white;
}

.footer-links {
  margin: 30px 0px 0px 0px;
  padding: 0 !important;
}
.footer-links li {
  margin: 8px 0px;
}

.footer-low-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright {
  color: #aeaeae;
}

@media screen and (max-width: 1400px) {
  .addition-features-card-desc {
    height: auto !important;
  }
  .addition-features-card {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
  }
  .addition-features-card .inline-elements {
    position: absolute;
    bottom: 30px;
  }
  .addition-features-card .addition-features-card-desc {
    margin-bottom: 80px;
  }
  .addition-features-card .btn-sign {
    width: 77px !important;
  }
}
@media screen and (max-width: 1200px) {
  .right-part {
    padding-top: 35px;
    text-align: center;
  }
  .right-part img {
    width: 170px;
  }
  h1 {
    font-size: 60px !important;
    line-height: normal;
  }
  .left-part p {
    font-size: 20px;
  }
  .blockchains-icons img {
    width: 42px;
    height: 42px;
    margin-top: 2px;
  }
  br {
    display: none;
  }
  .navbar-nav {
    padding: 5px;
    padding-left: 5px !important;
  }
  .navbar-nav li {
    width: 90px;
    text-align: center;
  }
  .navbar-nav li a {
    font-size: 14px;
  }
  nav .d-flex {
    margin-left: 5px;
  }
  nav .btn-default {
    padding: 10px 28px;
  }
  h4 {
    font-size: 20px !important;
  }
  h2 {
    font-size: 50px !important;
  }
  .advantages {
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .addition-features-cards {
    flex-wrap: wrap;
  }
  .addition-features-cards .addition-features-card {
    width: 320px;
  }
  .addition-features-cards .addition-features-card {
    margin-top: 20px;
  }
  .left-part h1 {
    line-height: 70px;
    max-width: 440px;
  }
  .left-part p {
    max-width: 605px;
  }
  .right-part img {
    width: 400px;
  }
  .advantages {
    flex-wrap: wrap;
  }
  .advantages .advantage-item {
    width: 300px;
  }
  .advantages .break-line:nth-of-type(4) {
    display: none;
  }
  .apr-item {
    width: 300px;
  }
  .section-seventh-screen .socials-link .social {
    width: 328px;
    flex-direction: row;
    justify-content: space-around;
  }
  nav .navbar-collapse {
    display: flex;
    flex-direction: row;
  }
  nav .d-flex {
    margin-top: 0px !important;
  }
  nav .navbar-nav {
    flex-direction: row !important;
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
  }
}
@media screen and (max-width: 769px) {
  .blockchains-icons {
    margin-top: 20px;
  }
  .btn-default {
    padding: 10px 50px;
    height: 60px;
  }
  .btn-sign {
    height: 60px;
    width: 60px;
  }
  .left-part span {
    top: 15px;
    left: 17px;
  }
  .main-data-container {
    margin-top: 75px;
  }
  .btn-default {
    line-height: 40px !important;
  }
  .trade-platform-wrapper {
    padding: 10px;
  }
  .left-part p {
    max-width: 490px;
  }
  .blockchains-icons, .inline-elements {
    justify-content: center;
  }
  .break-line {
    display: none;
  }
  .advantages {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
  .addition-features-cards .addition-features-card {
    width: 420px;
  }
  .arp-btn-right {
    margin-top: 50px;
  }
  .section-seventh-screen .socials-link .social {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .section-seventh-screen .socials-link .social .btn-default {
    width: 200px;
    text-align: center;
  }
  .section-seventh-screen .col-lg-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .footer-links-header {
    margin-top: 20px;
  }
  .footer-links {
    margin-bottom: 20px;
  }
  .copyright {
    width: 224px;
  }
  .apr-item {
    width: 218px;
  }
  .apr-item .arp-value, .apr-item .arp-item-top {
    font-size: 18px;
  }
  .ord-header {
    width: 100%;
  }
  .addition-features-card .btn-default, .apr-header .btn-default, .socials-link .btn-default {
    width: 200px;
    text-align: center;
  }
  .addition-features-card .btn-sign, .apr-header .btn-sign, .socials-link .btn-sign {
    width: 60px !important;
  }
  .addition-features-card .btn-sign span, .apr-header .btn-sign span, .socials-link .btn-sign span {
    top: 13px;
    left: 19px;
  }
  .contact-form form .inline-elements {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact-form form .btn-default {
    width: calc(100% - 65px);
  }
  .contact-form form .btn-sign {
    width: 60px;
  }
  .contact-form form .btn-sign span {
    left: 19px;
    top: 14px;
  }
  nav .navbar-nav:first-child {
    display: none;
  }
  nav .navbar-nav {
    margin-left: auto;
  }
  nav .btn-sign {
    position: relative;
  }
  nav .btn-sign span {
    position: absolute;
    top: 14px;
    left: 17px;
  }
  .background-wrapper {
    background-image: url("../assets/bg-mob.png");
  }
}
@media screen and (max-width: 576px) {
  .left-part h1, .left-part p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  h3 {
    font-size: 38px !important;
  }
  .apr-header .btn-sign span {
    left: 0px;
  }
  .arp-item-bottom img {
    left: 34px;
  }
  .apr-item {
    width: 370px;
  }
  .apr-header {
    text-align: center;
  }
  .section-seventh-screen .col-lg-6 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  footer {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px) !important;
  }
  .footer-low-data {
    font-size: 12px;
  }
  .footer-low-data .copyright {
    width: 170px;
  }
  .left-part h1 {
    font-size: 50px !important;
    line-height: 50px;
  }
  .right-part img {
    width: 300px;
  }
  .blockchains-icons img {
    width: 36px;
    height: 36px;
  }
  .social-top {
    align-self: center;
  }
  .advantages .advantage-item {
    border-bottom: 1px dotted #aeaeae;
  }
  .advantages .advantage-item:last-child {
    border-bottom: none !important;
  }
}
@media screen and (max-width: 430px) {
  .section-seventh-screen .socials-link .social .btn-default {
    width: 120px;
    padding: 10px 10px;
  }
  .apr-header h3 {
    max-width: 325px;
    margin-left: auto;
    margin-right: auto;
  }
  nav .nav-item {
    width: 64px;
  }
  nav .navbar-brand {
    width: 72px;
  }
  nav .btn-default {
    padding: 0px 15px !important;
    height: 50px !important;
    line-height: 50px !important;
    font-size: 14px;
  }
  nav .btn-sign {
    height: 50px;
    width: 50px;
  }
  nav .btn-sign span {
    top: 10px;
    left: 12px;
  }
}
@media screen and (max-width: 350px) {
  nav .btn-default {
    padding: 0px 10px !important;
  }
  nav .navbar-brand {
    width: 50px;
  }
  nav .navbar-brand img {
    width: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
